parser: babel-eslint

parserOptions:
  sourceType: module

extends:
  "eslint:recommended"

rules:
  no-cond-assign: 0
  no-constant-condition: 0
  comma-dangle: ["error", {
    "arrays": "never",
    "objects": "never",
    "imports": "never",
    "exports": "never",
    "functions": "never"
  }]

env:
  amd: true
  node: true
