# Node #
########
/dist
/bundle
/node_modules
/coverage
/yarn-error.log
/.eslintcache
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Typescript #
##############
/src/**/*.js
/tsconfig.tsbuildinfo

# Local #
#########
/.flow_cache
