html, body, svg {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.link path {
  stroke: black;
  stroke-width: 0.006px;
  fill: none;
}

.node circle {
  r: 0.05px;
  fill: white;
  stroke: black;
  stroke-width: 0.006px;
}

.node text {
  font-size: 0.065px;
  font-family: sans-serif;
  text-anchor: middle;
  alignment-baseline: middle;
}
